<div class="topbar"></div>
<div class="menubar">
	<div class="menu">
		<div class="menu-left">
			<div class="logo"></div>
		</div>
		<div class="menu-right">
			<div class="menu-input-holder">

				<div class="menu-input">
					<!-- 	Input URL -->
					<div class="menu-input-type" ng-show="menuInputUrl">
						<form>
							<div class="demo-request input-group">
								<input type="text" class="form-control" placeholder="Enter URL for .HAR Data" name="url" ng-model="urlRequest" />
								<span class="input-group-btn">
									<button class="btn" type="submit" ng-click="urlHarRequest(urlRequest)">ANALYZE</button>
								</span>
							</div>
						</form>
					</div>
					<!-- File Uploader -->
					<div class="menu-input-type" ng-show="menuInputUpload">
						<label class="uploader">
							<input type="file" on-read-file="uploadedHarData($fileContent)" />
							<i></i><span class="btn">Upload .Har File</span>
						</label>
					</div>
					<!-- Copy/ Paste -->
					<div class="menu-input-copypaste" ng-show="menuInputCopypaste">
						<form class="textbox">
							<textarea auto-focus id="textfocus" class="form-control" rows="1" ng-model="harJson" placeholder="Paste .HAR Data"></textarea>
							<span class="input-group-btn textbtn">
								<button auto-focus id="btnfocus" class="btn" type="submit" ng-click="pastedHarData(harJson)">ANALYZE</button>
							</span>
						</form>
					</div>
				</div>
				<div class="menu-selector" ng-show="!loadHar">
					<span class="glyphicon glyphicon-menu-hamburger" ng-click="harInputOptions()"style="color: #e8ca14; font-size:26px;"></span>
				</div>
				<div class="loadinggif" ng-show="loadHar">
					<img src="../../assets/images/search-load.gif" height="29" width="29" />
				</div>
			</div>
		</div>
	</div>
</div>


<div class="container">{{jsonError}}{{url}}</div>

<div class="container">

	<bubble-chart data='data'></bubble-chart>
</div>
