<div class="topbar"></div>
<div class="menubar">
	<div class="menu">
		<div class="menu-left">
			<div class="logo"></div>
		</div>
		<div class="menu-right">
			<div class="menu-input-holder">
				<div class="menu-input">
					<!-- 	Input URL -->
					<div class="menu-input-type" ng-show="menuInputUrl">
						<form>
							<div class="demo-request input-group">
								<input type="text" class="form-control" placeholder="Enter URL for .HAR Data" name="url" ng-model="urlRequest" />
								<span class="input-group-btn">
									<button class="btn" type="submit" ng-click="urlHarRequest(urlRequest)">ANALYZE</button>
								</span>
							</div>
						</form>
					</div>
					<!-- File Uploader -->
					<div class="menu-input-type" ng-show="menuInputUpload">
						<label class="uploader">
							<input type="file" id="uploadHar" on-read-file="uploadedHarData($fileContent)" />
							<i></i><span class="btn">Upload .Har File</span>
						</label>
					</div>
					<!-- Copy/ Paste -->
					<div class="menu-input-copypaste" ng-show="menuInputCopypaste">
						<form class="textbox">
							<textarea auto-focus id="textfocus" class="form-control" rows="1" ng-model="harJson" placeholder="Paste .HAR Data"></textarea>
							<span class="input-group-btn textbtn">
								<button auto-focus id="btnfocus" class="btn" type="submit" ng-click="pastedHarData(harJson)">ANALYZE</button>
							</span>
						</form>
					</div>
				</div>
				<div class="menu-selector" ng-show="!loadHar">
					<span class="glyphicon glyphicon-menu-hamburger" ng-click="harInputOptions()"style="color: #e8ca14; font-size:26px;"></span>
				</div>
				<div class="loadinggif" ng-show="loadHar">
					<img src="../../assets/images/search-load.gif" height="29" width="29" />
				</div>
			</div>
		</div>
	</div>
</div>

<div class="display">
	<div class="sidebar" ng-show="showSidebar">
		<div class="site-analyzed" ng-click="codeview = !codeview">
			<div class="code-toggle">
				<span class="glyphicon glyphicon-console" style="color: #262626; font-size:15px;">
				</span>
			</div>
			<div class="url-name">{{url}}</div>
		</div>
		<div class="g-stats">
			<div class="g-main">
				<div class="g-main-panel">
					<p>Total Size</p>
					<h1>{{data.childrenStats.totalSize}}</h1>
				</div>
				<div class="g-main-panel">
					<p>Total Time</p>
					<h1>{{data.childrenStats.totalTime}}</h1>
				</div>
				<div class="g-main-panel">
					<p>Avg. Req. Size</p>
					<h1>{{data.childrenStats.avgReqSize}}</h1>
				</div>
				<div class="g-main-panel">
					<p>Avg. Req. Time</p>
					<h1>{{data.childrenStats.avgReqTime}}</h1>
				</div>
				<div class="g-main-panel g-group" ng-show="gPercent">
					<p>% Total Size</p>
					<h1>{{data.childrenStats.percOfGlobalSize}}</h1>
				</div>
				<div class="g-main-panel g-group" ng-show="gPercent">
					<p>% Total Time</p>
					<h1>{{data.childrenStats.percOfGlobalTime}}</h1>
				</div>
			</div>
			<div class="g-other">
				<div class="g-other-panel">
					<p><strong>{{data.childrenStats.numOfRequests}}</strong> Requests</p>
					<p><strong>{{data.childrenStats.numRequestsByOthers}}</strong> Requests initiated by Requests</p>
					<p><strong>N/A</strong> Non-expiring headers</p>
					<p><strong>{{data.childrenStats.totalCookies}}</strong> Cookies </p>
				</div>
			</div>
			<div class="g-stats-chart">
				<bar-chart data='data'></bar-chart>
			</div>
		</div>
		<div class="g-selections">
			<div class="g-selections-title">
				<h1><strong>Filters & Selections</strong></h1>
				<div class="filters-selections"></div>
					<h3>Label Value</h3>
						<p><a>Name</a></p>
						<p><a>Content-Type</a></p>
				<div class="filters-selections">
					<h3>Radius Value</h3>
						<p><a>Size of Request</a></p>
						<p><a>Load Time</a></p>
				</div>
				<div class="filters-selections">
					<h3>By Content-Type</h3>
						<p><a>All ({{data.globalStats.numOfRequests}})</a></p>
						<p><a>Document ({{data.globalStats.numOfDocuments}})</a></p>
						<p><a>Script ({{data.globalStats.numOfScripts}})</a></p>
						<p><a>XHR ({{data.globalStats.numOfXhr}})</a></p>
						<p><a>CSS ({{data.globalStats.numOfCss}})</a></p>
						<p><a>Font ({{data.globalStats.numOfFont}})</a></p>
						<p><a>Image ({{data.globalStats.numOfImages}})</a></p>
						<p><a>Other ({{data.globalStats.numOfOther}})</a></p>
				</div>
			</div>
		</div>
	</div> <!-- end of sidebar -->
	<div class="har-bubble-display">
		<bubble-chart data='data' ng-show="!codeview" class="bubbleChart"></bubble-chart>
		<div class="code-view" ng-show="codeview">
			<pre>{{data | json}}</pre>
		</div>
	</div>
</div> <!-- end of display -->
